<a href="https://colab.research.google.com/github/nafeesopi/30DaysOfPythonCode/blob/main/30DaysOfPythonCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
#Single line comment

In [ ]:
"""
This is a multi-line comment.
It spans multiple lines.
"""

'\nThis is a multi-line comment.\nIt spans multiple lines.\n'

In [ ]:
if True:
   print("This is intended correctly")
else:
   print("This will not be printed")

This is intended correctly

In [ ]:
if True:
    print("testing if i know intendation")
else:
    print("i know it")

testing if i know intendation

In [ ]:
x= 5
name = "nafees"
is_valid = True
float_number = 3.14
integer_num = 10
text = "nafees practices python"

In [ ]:
print("my name is", name)

my name is nafees

In [ ]:
a = 1; b= 2; c=a+b

In [ ]:
print(c)

3

In [ ]:
x = 5
y = str(x)
z = float(y)
print(y)

5

In [ ]:
age = 30
if age > 31:
  print("you are old")
else:
  print("you are young")

you are young

In [1]:
a = 5
b = 3
sum = a+b
print("Sum:", sum)

Sum: 8

In [2]:
score = 85
if score >= 80:
    print("A+")
elif score >= 70:
    print("A")
else:
    print("B")

A+

In [3]:
for i in range(1,6):
    print("Counting:", i)

Counting: 1
Counting: 2
Counting: 3
Counting: 4
Counting: 5

In [4]:
count = 0
while count < 3:
    print("This is loop number", count)
    count += 1

This is loop number 0
This is loop number 1
This is loop number 2

In [5]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [7]:
def square(number):
    return number * number
result = square(4)
print("The square is", result)

The square is 16

In [8]:
person = {"name": "Alice", "age": 30}
print("Name:", person["name"])
print("Age:", person["age"])

Name: Alice
Age: 30